<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="POS_DB"
             connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=POS_DB;Integrated Security=True;TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
	<!-- Enable High-DPI support for proper Arabic text rendering -->
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>